<%= form_with model: plant do |form| %>
  <div class="plant-edit">
    <div>
      <%= form.label :images, "Upload New Images", class: "upload-button" %>
      <%= form.file_field :images, direct_upload: true, include_hidden: true , multiple: true, capture: "user", accept: "image/*" %>
    </div>
    <div>
      <%= form.label :name %>
    </div>
    <div>
      <%= form.text_field :name %>
    </div>

    <div>
      <%= form.label :description %>
    </div>
    <div>
      <%= form.text_area :description %>
    </div>

    <div>
      <%= form.label :birthday %>
    </div>
    <div>
      <%= form.date_field :birthday %>
    </div>

    <div>
      <%= form.submit %>
    </div>
  </div>
<% end %>