<%= form_with model: plant do |form| %>
  <div class="plant-edit">
    <div>
      <%= form.file_field :images, direct_upload: true, multiple: true %>
    </div>

    <div>
      <%= form.label :name %>
    </div>
    <div>
      <%= form.text_field :name %>
    </div>

    <div>
      <%= form.label :birthday %>
    </div>
    <div>
      <%= form.date_field :birthday %>
    </div>

    <div>
      <%= form.label :last_watering %>
    </div>
    <div>
      <%= form.date_field :last_watering %>
    </div>

    <div>
      <%= form.submit %>
    </div>
  </div>
<% end %>