<div class=flex-container>
  <h1>Your Plants</h1>

  <div class="grid-container">
    <% @plants.each do |plant| %>
      <div class="plant">
        <div class="plant-images">
          <% if plant.images.attached? %>
            <% plant.images.each do |image| %>
              <% if image.representable? %>
                <%= image_tag image.representation(resize_to_limit: [250, 250]) %>
              <% end %>
            <% end %>
          <% end %>
        </div>

        <div class="plant-info">
          <p> <%= plant.name %> is born on <%= plant.birthday %></p>
          <p> It was last waterd at <%= plant.last_watering %> </p>
          <p> Check out more here: <%= link_to plant.name, plant %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= link_to "New Plant", new_plant_path %>
