<div class="flex-container">
  <h1>Your Plants</h1>

  <div class="grid-container">
    <% @plants.each do |plant| %>
      <div class="plant">
        <h2><%= plant.name %></h2>
        <div class="plant-images" data-controller="slideshow" data-slideshow-index-value="0">
          <button data-action="slideshow#previous"> ← </button>
          <% if plant.images.attached? %>
            <% plant.images.each do |image| %>
              <div data-slideshow-target="slide">
                <% if image.representable? %>
                  <%= link_to plant do %>
                    <%= image_tag image.representation(resize_to_limit: [250, 250]) %>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          <% end %>
          <button data-action="slideshow#next"> → </button>
        </div>

        <div class="plant-info">
          <p> <%= plant.name %> started growing on <%= plant.birth %>.</p>
          <p>
            <% if plant.waterings.any? %>
              It was last watered <%= time_ago_in_words(plant.waterings.last.created_at) %> ago.
            <% end %>
          </p>
          <p> Check out more here: <%= link_to plant.name, plant %></p>
        </div>
      </div>
    <% end %>
    <div class="plant-navigation">
      <div><%= link_to "New Plant", new_plant_path %></div>
    </div>
  </div>
</div>

