<div class="flex-container">
  <div class="grid-container">
    <div class="plant">
      <h1><%= @plant.name %></h1>
      <div class="plant-images">
        <% @plant.images.each do |image| %>
          <% if image.representable? %>
            <%= image_tag image.representation(resize_to_limit: [300, 300]) %>
          <% end %>
        <% end %>
      </div>
      <div class="plant-info">
        <p> <%= @plant.name %> started growing on <%= @plant.birth %>.</p>
        <p> It was last watered <%= time_ago_in_words(@plant.waterings.last.created_at) %> ago. </p>
        <p> <%= @plant.description %>

        <%= form_with model: [ @plant, @plant.waterings.build ] do |form| %>
        <div>
          <%= form.submit "Water this plant!" %>
        </div>
        <% end %>
    </div>
  </div>
  <div class="plant-navigation">
    <div><%= link_to "Go back", root_path %></div>
    <div><%= link_to "Edit Plant", edit_plant_path(@plant) %></div>
    <div><%= link_to "Destroy", plant_path(@plant), data: {
                        turbo_method: :delete,
                        turbo_confirm: "Are you sure to delete #{@plant.name}?"
                      } %>
    </div>
  </div>
</div>
