<div class="flex-container">
  <div class="grid-container">
    <div class="plant">
      <h1><%= @plant.name %></h1>
      <div class="plant-images" data-controller="slideshow" data-slideshow-index-value="0">
        <button data-action="slideshow#previous"> ← </button>
        <% @plant.images.each do |image| %>
          <div data-slideshow-target="slide">
            <% if image.representable? %>
              <%= image_tag image.representation(resize_to_limit: [300, 300]) %>
            <% end %>
          </div>
        <% end %>
        <button data-action="slideshow#next"> → </button>
      </div>

      <div class="plant-info">
        <p> <%= @plant.name %> started growing on <%= @plant.birth %>.</p>
        <% if @plant.waterings.any? %>
          <p> It was last watered <%= time_ago_in_words(@plant.waterings.last.created_at) %> ago. </p>
        <% elsif %>
          <p> This plants has not been watered yet! </p>
        <% end %>
        <p> <%= @plant.description %> </p>

        <%= form_with model: [ @plant, @plant.waterings.build ] do |form| %>
        <div>
          <%= form.submit "Water this plant!" %>
        </div>
        <% end %>
    </div>
  </div>
  <div class="plant-navigation">
    <div><%= link_to "Go back", root_path %></div>
    <div><%= link_to "Edit Plant", edit_plant_path(@plant) %></div>
    <div><%= link_to "Destroy", plant_path(@plant), data: {
                        turbo_method: :delete,
                        turbo_confirm: "Are you sure to delete #{@plant.name}?"
                      } %>
    </div>
  </div>
</div>
