<h1><%= @plant.name %></h1>

<p> <%= @plant.birthday %></p>

<p> <%= @plant.last_watering %></p>

<div><%= link_to "Edit Plant", edit_plant_path(@plant) %></div>
<div><%= link_to "Go back", root_path%></div>